body {
    font-family: 'Noto Sans TC', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}  
:root {
    --bs-primary: #0d6efd;
    --bs-primary-rgb:144, 145, 0;
    --bs-secondary: #0dcaf0;
    --bs-secondary-rgb:13, 202, 240
}
.expedu_icon{
    color: #495057;
}
.expedu_icon:hover{
    color: var(--bs-secondary);
}
a {
    color: var(--bs-primary);
}

.social-icons .social-icon:hover {
    background-color: var(--bs-primary);
}
