:root {
    --bs-primary:#0dcaf0;
    --bs-primary-rgb: 11, 0, 166;
    --bs-secondary: #C07300;
    --bs-secondary-rgb: 238, 143, 0;
}
.expedu_icon{
    color: #495057
}
.expedu_icon:hover {
    color:var(--bs-secondary);
}
a{
    color:var(--bs-primary);
}

.social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
}