body {
    font-family: 'Noto Sans TC', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}  
:root {
    --bs-primary:#0dcaf0;
    --bs-primary-rgb: 11, 0, 166;
    --bs-secondary: #0dcaf0;
    --bs-secondary-rgb: 238, 143, 0;
}
.expedu_icon{
    color: #0dcaf0
}
.expedu_icon:hover {
    color:var(--bs-secondary);
}
a{
    color:var(--bs-primary);
}

.social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
}